@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-padding-top: 6rem;
}
body {
  text-decoration: none;
  min-height: 100vh;
}

/* NAVBAR */
header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: black;
  z-index: 1;
  transition: ease 0.5s;
  padding: 5px;
  padding-top: 10px;
}
header.sticky {
  background: black;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}
.logo {
  width: 200px;
  line-height: 60px;
}
#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  z-index: 2;
  margin: 10px;
}
#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: white;
  transform: translateY(-5px);
  transition: 0.2s;
}
#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: white;
  transform: translateY(5px);
  transition: 0.2s;
}
#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}
#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}
#navbar {
  position: relative;
  height: 60px;
  background: transparent;
  transition: 0.5s;
  width: 0px;
  overflow: hidden;
}
#navbar.active {
  width: 1100px;
}
#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  position: relative;
  color: rgb(187, 187, 187);
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  padding: 0px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* responsive */
@media (min-width: 1400px) {
  #navbar {
    right: 50px;
  }
  #navbar ul li a:hover {
    color: white;
    transition: 0.5s;
  }
  .logo {
    padding-left: 10px;
  }
}
@media (min-width: 569px) and (max-width: 1400px) {
  .logo {
    width: 120px;
    line-height: 60px;
    padding-left: 50px;
  }
  #toggle {
    margin-right: 50px;
  }
  #navbar {
    position: fixed;
    background: black;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar.active {
    height: calc(120vh - 80px);
    bottom: 0;
    width: 100%;
  }
  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #navbar ul li a {
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 0px 15px;
  }
  #navbar a:hover,
  #navbar a.active {
    background: white;
    color: black;
    transition: 0.5s;
  }
}
@media (max-width: 568px) {
  .logo {
    width: 120px;
    line-height: 60px;
    /* padding-left: 50px; */
  }
  #navbar {
    position: fixed;
    background: black;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar.active {
    height: calc(120vh - 80px);
    bottom: 0;
    width: 100%;
  }
  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #navbar ul li a {
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 0px 15px;
  }
  #navbar a:hover,
  #navbar a.active {
    background: white;
    color: black;
    transition: 0.5s;
  }
}

/* END NAVBAR */

/* general info */
#general-information {
  padding-top: 100px;
}
#general-information h2 {
  padding-bottom: 40px;
}
iframe {
  border-radius: 5px;
  box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 50%);
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  #general-information p {
    text-align: center;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  #general-information p {
    padding-top: 50px;
  }
}
@media (min-width: 1400px) {
  #general-information p {
    padding-top: 80px;
  }
}
/* end general info */

/* GALLERY */
#gallery {
  padding-top: 50px;
  padding-bottom: 40px;
}
#gallery h2 {
  padding-bottom: 40px;
}
.gallery {
  margin: 20px 0px;
}
.gallery img {
  align-items: center;
  border-radius: 10px;
  padding: 3px;
  box-shadow: 0px 0px 8px 3px rgb(0 0 0 / 50%);
  width: 400px;
  transition: ease 0.5s;

  filter: grayscale(100%);
}
.gallery img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  box-shadow: 0px 60px 80px -30px rgb(0 0 0 / 50%);
  transition: ease 0.5s;
}
@media (max-width: 768px) {
  .gallery img {
    align-items: center;
  }
}
/* END GALLERY */

/* faculty and staff */
.col-card {
  width: 25%;
  float: left;
  padding: 0px 10px;
  max-width: 300px;
  min-width: 300px;

  margin: 0px 20px;
}
.row-card:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and(max-width:600px) {
  .col-card {
    width: 100%;
    display: block;
    padding-bottom: 50px;
  }
  .col-card {
    margin-bottom: 10px;
  }
}
#faculty-staff .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  max-height: 350px;
  min-height: 350px;
  background-color: white;
  text-align: center;
  border-radius: 40px;
  padding: 15px;
  transition: ease 0.5s;
}

#faculty-staff .card:hover {
  transform: scale(1.1);
}
.card h4 {
  font-size: 18px;
  font-weight: bold;
}
.title {
  color: gray;
  font-size: 15px;
}
.card img {
  width: 150px;
  margin: auto;
  padding: 10px 0px;
}

/* faculty and staff */

/* FOOTER */
.footer {
  background: #e0e0e0;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: black;
}
.footer > * {
  flex: 1 100%;
}
.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer-left h2 {
  font-weight: 800;
  font-style: bold;
  font-size: 35px;
}
.footer-right h2 {
  font-weight: 400;
  font-size: 20px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  line-height: 2em;
}
.footer a {
  text-decoration: none;
}
.footer-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a {
  color: #666666;
}
.box a:hover {
  color: black;
  transition: 0.5s;
}
.footer-bottom {
  text-align: center;
  color: black;
  padding-top: 10px;
}
.footer-left p {
  padding-right: 20%;
  color: #666666;
}

.socials a {
  background: #364a62;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}
.socials a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
.socials a i {
  color: #e7f2f4;
  padding: 10px 12px;
  font-size: 20px;
}
.socials a i:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
}
/* END FOOTER */
